*{
    margin:0 auto;
    padding:0;
    background-repeat: no-repeat;
    background-color: rgb(241, 241, 241);
}

/*barra principal + menus + logos */
.barra-principal {
    background: darkolivegreen;
    width: 100vw;
    height: 70px;
    position: fixed;  
    z-index: 2;   
}
#logo-empresa {
    font-family: fantasy;
    font-size: 40px;
    color:aliceblue;
    background:transparent;
    display: inline-block;
    padding-top: 10px;
    margin-left: 20px;
    position: fixed;
    
}
#mutirao:hover{
    background: whitesmoke;
    color:darkolivegreen;
    border-radius:10px;
    border: 3px whitesmoke solid;
    font-size:20px;
    


}
#serrotao:hover{
    background: whitesmoke;
    color:darkolivegreen;
    border-radius:10px;
    border: 3px whitesmoke solid;
    font-size:20px;
}
#centro:hover{
    background: whitesmoke;
    color:darkolivegreen;
    border-radius:10px;
    border: 3px whitesmoke solid;
    font-size:20px;
}
.menus {
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    text-decoration:none;
    color:aliceblue; 
    display:grid;
    background: transparent;
    position: fixed;
    margin-top:13px;
}
#serrotao {
    width: 106px;
    margin-left:600px;
   
}
#mutirao {
    width: 95px;
    margin-left:1400px;
}
#centro {
    width: 80px;
    margin-left:1000px;
}
/* pagina principal*/
#barra-rolagem {
    background: darkolivegreen;
    border-radius:10px;
    width: 560px;
    height: 50px;
    display: grid;
    margin-left:0px;
    margin-top:105px;
    position: absolute;
    z-index: 0;  
 
}
#subtitulo-barrarolagem {
    font-size:25px;
    font-family: sans-serif;
    color:darkolivegreen;
    border-radius:5px;
    margin-left:-455px;
    margin-top: 15px;
    position: absolute;
    

}
#titulo-barra {
    background: transparent;
    font-size: 40px;
    font-family: prompt;
    padding: 10px;
    margin-top: -15px;
    color:whitesmoke
}
/* Posts da pagina principal */
.defaults-post {
    width: 377px;
    height: 300px;
    position: absolute;
    display: grid;
    margin-top: ;
}
/* elementos padrões dos posts*/
.links-posts {
    background: transparent;
    text-decoration: none;
    width: 377px;
    display: grid;
    
}
.img-post{
    width: 377px;
    height: 300px;
    position: relative;
    border-radius: 20px 20px 20px 20px;
}
/*elementos especificos dos posts*/
#barra-firstposts {
    width: 100vw;
    background: white;
    height: 400px;
    z-index: 0;
    position: absolute;
    margin-top:250px;
    display: grid;
    box-shadow:5px 10px 30px -9px     
}
#style-lateral {
    width: 350px;
    height: 430px;
    background: darkolivegreen;
    display: grid;
    position: absolute;
    margin-top: -14px;
    box-shadow:1px 1px 5px 0px
}
#style-laterallegend{
    background: transparent;
    position: absolute;
    display: grid;
    color:white;
    font-family:prompt;
    margin-left:60px;
    margin-top:130px;
    font-size:40px; 
    padding: -3px;
    box-shadow:1px 1px 10px 0px;
    text-align: center;
    

}
/*first post*/
#text-post1 {
    position:absolute;
    z-index:1;
    font-size:21px;
    text-align:center;
    background: whitesmoke;
    position: absolute;
    margin-top: 22px;   
    margin-left: 80px;
    color:rgb(0, 0, 0);
    width: 210px;
    font-family: prompt;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 1px 3px 10px 1px;
}
#post1 {
    margin-top: 50px;
    margin-left: 380px;
}
#post1:hover{
    opacity: 0.9;

}
/*second post*/
#post2 {
    margin-top:50px;
    margin-left: 790px; 
}
#text-post2 {
    position:absolute;
    z-index:1;
    font-size:21px;
    text-align:center;
    background: whitesmoke;
    position: absolute;
    margin-top: 22px;       
    margin-left: 80px;
    color:rgb(0, 0, 0);
    width: 210px;
    font-family: prompt;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 1px 3px 10px 1px;
}
#post2:hover{
    opacity:0.9;
}
/*Third post*/
#post3 {
    margin-top:50px;
    margin-left: 1200px; 
}
#text-post3 {
    position:absolute;
    z-index:1;
    font-size:23px;
    text-align:center;
    background: whitesmoke;
    position: absolute;
    margin-top: 22px;   
    margin-left: 80px;
    color:black;
    width: 210px;
    font-family:prompt;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 1px 3px 10px 1px;
}
#post3:hover{
    opacity:0.9;
}
/*barra lateral de informações*/
/*1 barra*/
#bg-infos1 {
    width: 815px;
    height: 260px;
    position: absolute;
    z-index: 1;
    background: rgb(255, 255, 255);
    margin-left: 10px;
    margin-top:750px;
    box-shadow: 2px 1px 10px 0px;
    border-radius:10px;
}
#titulo-info1 {
    position: absolute;
    color:white;
    display: grid;
    margin: 6px;
    margin-left:5px;
    background: darkolivegreen;
    padding: 10px;
    font-family:sans-serif;
    font-size:25px;
    border-radius: 10px 1px 10px 1px;
}
#text-info1 {
    position: absolute;
    display: grid;
    margin: 10px;;
    background: transparent;
    margin-top: 70px;
    margin-left: 30px;
    margin-right:30px;
    font-size:21px;
    font-family:prompt;

}
/*2 barra*/
#bg-infos2 {
    width: 815px;
    height: 260px;
    position: absolute;
    z-index: 0;
    background: rgb(255, 255, 255);
    margin-left: 10px;
    margin-top:1040px;
    box-shadow: 2px 1px 10px 0px;
    border-radius:12px;
}
#titulo-info2 {
    position: absolute;
    color:white;
    display: grid;
    margin: 6px;
    margin-left:5px;
    background: darkolivegreen;
    padding: 10px;
    font-family:sans-serif;
    font-size:25px;
    border-radius: 10px 1px 10px 1px;
}
#text-info2 {
    position: absolute;
    display: grid;
    margin: 10px;;
    background: transparent;
    margin-top: 90px;
    margin-left: 30px;
    margin-right:30px;
    font-size:21px;
    font-family:prompt;
}
/*3 barra*/
#bg-infos3 {
    width: 815px;
    height: 260px;
    position: absolute;
    z-index: 0;
    background: rgb(255, 255, 255);
    margin-left: 10px;
    margin-top:1330px;
    box-shadow: 2px 1px 10px 0px;
    border-radius:12px;
}
#text-info3 {
    position: absolute;
    display: grid;
    margin: 10px;;
    background: transparent;
    margin-top: 90px;
    margin-left: 30px;
    margin-right:30px;
    font-size:21px;
    font-family:prompt;
}
#titulo-info3 {
    position: absolute;
    color:white;
    display: grid;
    margin: 6px;
    margin-left:5px;
    background: darkolivegreen;
    padding: 10px;
    font-family:sans-serif;
    font-size:25px;
    border-radius: 10px 1px 10px 1px;
}
/* RODAPÉ */
#down-infosbg {
    width: 100vw;
    height: 300px;
    position: absolute;
    display: grid;
    background: rgb(91, 110, 57);
    margin-top: 100vw;
    box-shadow: 10px 10px 10px 5px;
    z-index: 0;   
}
/*rodapé butão*/
#tapto-head{
    width: 100vw;
    height: 50px;
    position:absolute;
    display:grid;
    text-align:center;
    text-decoration: none;
    font-size: 30px;
    font-family: prompt;
    box-shadow:10px 1px 10px 0px;
    color: olivedrab;
}
#text-button {
    margin-top: 3px;
    color:olivedrab
}
#text-button:hover {
    color:olive;   
}
/*barra direita*/
#barra-direitaBG {
    height: 550px;
    width: 700px;
    display: grid;
    z-index: 1;
    background: white;
    position: absolute;
    margin-top: 750px;
    margin-left: 900px;
    border-radius:10px;
    box-shadow:0px 1px 10px 0px;
}
#video-lateral {
    width: 650px ;
    height: 470px;
    margin-left: 25px;
    margin-top:60px;
    z-index:1;
    position: absolute;
    display: grid;
    border-radius: 10px;
    
}   
#titulo-video {
    background: transparent;
    margin-top: 5px;
    margin-left:5px;
    font-size:30px;
    height:40px;
    border-radius:10px 0px 10px 0px;
    color:white;
    font-family: prompt;
    background: darkolivegreen;
}


